.video__image {
    width: 100%;
    margin-bottom: 0.75rem;
  }
  
  .video__title {
    font-size: 1rem;
    max-height: 2.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--gray-two);
    margin-bottom: 0.5rem;
    line-height: 1.4;
    padding: 0 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  
  .channel__image {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .channel__details {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: var(--gray-three);
  }
  
  .channel__details * {
    flex-shrink: 0;
  }
  
  @media screen and (min-width: 630px) {
    .channel__details,
    .video__title {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 452px) {
    .video__image {
      margin-bottom: 0.5rem;
    }
  }
  
  .badge-text {
    position: absolute;
    background-color: black;
    top: 0.5rem;
    right: 0.5rem;
  }
  