.video__image {
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 0.375rem;
}

.video__title {
  font-size: 1rem;
  max-height: 2.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  color: var(--text-one);
  margin-bottom: 0.5rem;
  line-height: 1.4;
  padding: 0 0.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.channel__image {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 0.25rem;
}

.channel__details {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  color: var(--text-two);
}

.channel__details * {
  flex-shrink: 0;
}

@media screen and (min-width: 630px) {
  .channel__details,
  .video__title {
    padding: 0;
  }
}

@media screen and (max-width: 452px) {
  .video__image {
    margin-bottom: 0.5rem;
  }
}

.badge-text {
  position: absolute;
  background-color: black;
  top: 0.5rem;
  right: 0.5rem;
}
