.active-link {
  background-color: var(--active-link);
}

.sidebar-navlink {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  color: var(--nav-link);
}

.sidebar-navlink:hover {
  background-color: var(--hover);
}

.link-title {
  padding-left: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.icon-md {
  font-size: 28px;
}

.icon-gray {
  color: var(--text-two);
}
