.playlist-modal {
  padding: 1rem;
  background-color: white;
}

.playlist-modal > * + * {
  margin-top: 1.5rem;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  font-size: 0.875rem;
  border: 0;
  outline: 0;
  padding: 0.5rem;
  background: transparent;
  font-family: inherit;
}

.playlist-modal ul {
  list-style: none;
  padding: 0;
}

.playlist-modal ul > * + * {
  margin-top: 1.25rem;
}
